[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
yfinance = "*"
numpy = "*"
pandas = "*"
ipykernel = "*"
pmdarima = "*"
seaborn = "*"
scikit-learn = "*"
statsmodels = "*"
scikeras = "*"
bayesian-optimization = "*"
tabulate = "*"
tensorflow = "*"
keras = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.11"
